main {
  @apply sm:w-11/12 md:w-9/12 lg:w-3/5 mx-auto bg-slate-100 dark:bg-zinc-800 px-12 py-8 mt-8 rounded-lg drop-shadow-xl;
}

.add-todo-input {
  @apply mx-auto px-3 py-5 rounded-md bg-neutral-200 dark:bg-neutral-700 w-full col-span-4 h-8 drop-shadow-lg outline outline-indigo-600 dark:outline-indigo-800;

  outline-width: 2.5px;
  outline-offset: 2px;
  transition: outline-offset 0.2s ease-out;
}

.add-todo-input:hover {
  outline-offset: 6px;
}

.add-todo-submit {
  @apply rounded-md bg-indigo-600 dark:bg-indigo-800;
}

.add-todo-submit:hover {
  @apply drop-shadow-lg;
}

.todo {
  @apply p-4 my-4 flex rounded-xl drop-shadow-md bg-neutral-200 dark:bg-neutral-700;
}

.completed {
  @apply text-zinc-400;
  text-decoration: line-through;
}
