.todo {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(64 64 64 / var(--tw-bg-opacity));
  padding: 1rem;
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.completed {
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity));
  text-decoration: line-through
}
